<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitoring Dashboard</title>
</head>
<body>
<h2>관리자 대시보드 - With Grafana </h2>

<iframe src="http://localhost:3001/d-solo/405abcc6-5998-4b6b-9be1-3fcfa8e86de4/ec9888-ec95bd-eab480-eba0a8-eab7b8-eb9e98-ed9484?orgId=1&from=1747186148116&to=1747207748116&timezone=browser&theme=dark&panelId=2&__feature.dashboardSceneSolo"
        width="100%" height="200" frameborder="0"></iframe>

<iframe src="http://localhost:3001/d-solo/405abcc6-5998-4b6b-9be1-3fcfa8e86de4/ec9888-ec95bd-eab480-eba0a8-eab7b8-eb9e98-ed9484?orgId=1&from=1747186148116&to=1747207748116&timezone=browser&theme=dark&panelId=1&__feature.dashboardSceneSolo"
        width="100%" height="200" frameborder="0"></iframe>

</body>
</html>